<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie Media</title>
        <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="/stylesheets/search.css" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
    </head>
    <body>
        <div id="search-header">
            <h1>Search your movie</h1>
            <form id="form-search" action="/movies" method="POST">
                <input id="input-search" type="text" name="search" placeholder="Enter your search here...">
                <input id="btn-search" type="submit" class="btn btn-default" value="Search">
            </form>
        </div>
        
<script>
    document.getElementById("form-search").addEventListener("onsubmit", function() {
        console.log("ok");
        var search = document.getElementById("input-search").value();
        document.getElementById("form-search").setAttribute("action", "/" + search);
        console.log(this.getAttribute("action"));
    });
</script>

<% include partials/footer %>