<!DOCTYPE html>
<html>
    <head>
        <title>Movie Media</title>
    </head>
    <body>
        <form action="/" method="POST">
            <input type="text" name="search" placeholder="Enter your search here...">
            <input type="submit" value="Search">
        </form>
    </body>
</html>