<!DOCTYPE html>
<html>
    <head>
        <title>Movie Media</title>
        <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="/stylesheets/main.css" rel="stylesheet">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Results<span><%= s %></span><span><%= page %></span>:</h1>
            <div class="row additional-info">
            </div>
            <div class="row movies">
            </div>
        </div>
        
        <script>
            var search = $("span")[0].textContent;
            var page = Number($("span")[1].textContent);
            loadMore(search, page);
            
            function loadMore(seach, page) {
                console.log("loading " + search + " " + page);
                $.getJSON("https://www.omdbapi.com/?s="+search+"&page="+page, function(data) {
                    if (!data["Search"]) {
                        return;
                    }
                    if (page == 1) {
                        divInfo = $(".additional-info")[0];
                        var element = document.createElement("div");
                        element.innerHTML = "<h3>" + data["totalResults"] + " results found</h3>";
                        $(divInfo).append(element);
                    }
                    data["Search"].forEach(function(m) {
                        render(new Movie(m));
                    });
                });
            }
            
            class Movie {
                constructor(data) {
                    this.data = data;
                }
                
                render(pageElement) {
                    var imdbID = this.data["imdbID"];
                    var title = this.data["Title"];
                    var poster = this.data["Poster"];
                    if (poster === "N/A") {
                        poster = "https://s-media-cache-ak0.pinimg.com/736x/92/9d/3d/929d3d9f76f406b5ac6020323d2d32dc.jpg";
                    }
                    var year = this.data["Year"];
                    pageElement.className = "thumbnail col-md-3 col-sm-4 col-xs-6 elems";
                    pageElement.innerHTML = this.generateHTML(imdbID, title, year, poster);
                }
                
                generateHTML(imdbID, title, year, poster) {
                    return "<a href='/movies/" + imdbID + "'><img src=" + poster + " alt=" + title + " - Poster></a>" +
                           "<p>" + title + " - " + year + "</p>";
                }
            }
            
            function render(drawable) {
                divMovies = $(".movies")[0];
                var element = document.createElement("div");
                drawable.render(element);
                $(divMovies).append(element);
            }
            
            $(window).scroll(function () { 
                if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
                    page += 1;
                    loadMore(search, page);
                }
            });
        </script>
    </body>
</html>