<% include partials/header %>

<div class="container">
    <div class="row">
        <h1>Sorry, page not found...</h1>
    </div>
</div>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<% include partials/footer %>