<% include partials/header %>

<div class="container">
    <h1 class="center">Sign Up</h1>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="number" name="age" placeholder="age">
        <input type="email" name="email" placeholder="email@email.com">
        <input type="text" name="country" placeholder="country">
        <textarea name="about" placeholder="about" rows="4" cols="50"></textarea>
        <input type="submit" value="Sign up">
    </form>
</div>

<% include partials/footer %>