body {
    padding-top: 70px;
}

a {
    color: gray;
}

a:link {
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

.search {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.col {
    padding-left: 10px;
    padding-right: 10px;
}

.thumbnail {
    border: none;
    margin: 8px auto;
}

.poster {
    padding: 5px;
    border: 1px solid #d4d7db;
    text-align: center;
}

.title {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
}

.container-info {
    border: 1px solid #d4d7db;
    margin: 20px auto;
    padding: 30px;
}

.info {
    margin: auto;
}

.comments {
    margin-top: 50px;
    border: 1px solid #d4d7db;
}

.img-responsive {
    margin: auto;
}

.field-title {
    font-weight: bold;
}

.center {
    text-align: center;
}

.comment {
    background-color: #f0f0f0;
    padding: 10px 15px;
    margin: 10px 0;
}

.author {
    font-weight: bold;
}