/* general */

body {
    padding-top: 70px;
}

.img-responsive {
    margin: auto;
}

.center {
    text-align: center;
}

.title {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
}

/* form-login */

.form-login {
    width: 40%;
    margin: 40px auto;
}

/* form-register */

.form-register {
    width: 70%;
    margin: 40px auto;
}

/* btns */

.btn-center {
    margin: 0 auto;
}

.btn-submit, .clear-btn {
    width: 20%;
    min-width: 100px;
    margin-top: 5px;
}

.btn-watched, .btn-wantToWatch {
    width: 100%;
}

/* container-info */

.container-info {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    margin: 20px auto;
    padding: 30px;
}

/* movie */

.movie-poster, .movie-details {
    margin: auto;
}

.movie-details .movie-details__title {
    font-weight: bold;
}

/* comment */

.comment {
    background-color: #f0f0f0;
    padding: 10px 15px;
    margin: 10px 0;
}

.comment .comment__glyphicon {
    color: gray;
    cursor: pointer;
}

.comment .comment__glyphicon:hover {
    color: #000000;
    cursor: pointer;
}

.comment .comment__glyphicon-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

/* extremes */

.extremes {
    display: flex;
    justify-content: space-between;
}

.extremes .extremes__author {
    font-weight: bold;
}

.extremes .extremes__glyphicon {
    color: gray;
    cursor: pointer;
}

.extremes .extremes__glyphicon:hover {
    color: #000000;
    cursor: pointer;
}

.extremes .extremes__glyphicon-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.extremes .extremes__header {
    margin-top: 5px;
    margin-bottom: 5px;
}

.extremes .extremes__btn-edit {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* comment-form */

.comment-form .comment-form__textarea {
    width: 100%;    
}

.comment-form .comment-form__align-right {
    text-align: right;
}

/* profile */

.profile .profile__watched, .profile .profile__want-to-watch, .profile .profile__left {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    padding: 10px 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.profile .profile__want-to-watch, .profile .profile__watched {
    height: 300px;
}

.profile .profile__info {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    margin: 20px auto;
    padding: 30px;
}

.profile .profile__left {
    padding-top: 20px;
    height: 630px;
}

.profile .profile__username {
    margin-top: 0;
    margin-bottom: 20px;
}

.profile .profile__about {
    height: 430px;
    overflow: auto;
}

.profile .profile__list-movies {
    margin-top: 15px;
    overflow: auto;
    height: 200px;
}

.profile .profile__glyphicon {
    color: gray;
    cursor: pointer;
}

.profile .profile__glyphicon:hover {
    color: #000000;
    cursor: pointer;
}

.profile .profile__btn-glyphicon {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}





a {
    color: #7c7c7c;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #000000;
}

a.thumbnail:hover {
    opacity: 0.8;
}

#form-watched {
    display: inline;
}

#search {
    min-width: 300px;
}

.search {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.col {
    padding-left: 10px;
    padding-right: 10px;
}

.thumbnail {
    border: none;
    margin: 8px auto;
}

.poster {
    padding: 5px;
    border: 1px solid #d4d7db;
    text-align: center;
}

.block {
    display: block;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #d9dadd;
}

li .glyphicon-navbar:hover, .navbar-inverse .navbar-brand:hover {
    color: #ffffff;
}

.navbar-text {
    font-family: sans-serif;
}

.username-tab {
    margin-left: 10px;
    margin-right: 0;
    font-size: 14px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #ffffff;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #ffffff;
}

/* Media queries */

@media (max-width: 991px) {
    .profile-left {
        padding-top: 20px;
        height: 300px;
    }
    
    .about {
        height: 130px;
        overflow: auto;
    }
    
    .form-login {
        width: 60%;
        margin: 40px auto;
    }
}