<% include ../partials/header %>

<div class="container">
    <h1 class="title">Results for '<span class="search"><%= s %></span>':</h1>
    <div class="row additional-info">
    </div>
    <div class="row movies">
    </div>
</div>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/movies.js"></script>

<% include ../partials/footer %>