<% include ../partials/header %>

<div class="container">
    <span class="search"><%= s %></span>
    <h1><span class="field-title">Results:</span></h1>
    <div class="row additional-info">
    </div>
    <div class="row movies">
    </div>
</div>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/movies.js"></script>

<% include ../partials/footer %>